@import url("https://fonts.cdnfonts.com/css/cadman");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap");

body {
    font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cadman, Lato, sans-serif;
}

h1, h2 {
    padding-bottom: 0.25em;
    margin-bottom: 0.5em;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
}

h2, h3, h4, h5, h6 {
    padding-top: 0.5em;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100vh;
}
