<div class="section">
    <h1 id="about">🏡 About Tiny Life</h1>
    <p>Tiny Life is a fun simulation game that aims to capture the essence of games like The Sims series, but in an isometric pixelart style.</p>
    <p>In the game, you control a set of people that live together in a household. You take care of their daily needs, build their skills, forge new relationships... or just mess up their entire life in whatever way you can think of!</p>

    {% for item in site.data.features %}
    <div class="feature">
        <div class="feature-banner">
            <div class="feature-title">
                <h2>{{ item.title }}</h2>
            </div>
            <img src="media/banners/{{ item.value }}" alt="{{ item.alt }}" width="100%" class="screen">
        </div>
        <ul>
            {% for line in item.text %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <h2>Watch the Trailer</h2>
    <div class="trailer">
        <iframe src="https://www.youtube.com/embed/iw-D7queVUI" title="Tiny Life Trailer" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
