<div class="section">
    <h1 id="about">🏡 About Tiny Life</h1>
    <p>Tiny Life is a fun simulation game that aims to capture the essence of games like The Sims series, but in an isometric pixelart style.</p>
    <p>In the game, you control a set of people that live together in a household. You take care of their daily needs, build their skills, forge new relationships... or just mess up their entire life in whatever way you can think of!</p>

    {% for item in site.data.features %}
        <div class="feature">
            <div class="feature-banner">
                <div class="feature-title">
                    <h2>{{ item.title }}</h2>
                </div>
                <img src="media/banners/{{ item.value }}" alt="{{ item.alt }}" width="100%">
            </div>
            <ul>
                {% for line in item.text %}
                    <li>{{ line }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    <h2 id="trailer">📺 Watch the Trailer</h2>
    <div class="video-embed">
        <iframe src="https://www.youtube.com/embed/dl4JCzOpnGE" title="Tiny Life Trailer" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <h2 id="reviews">🏆 Praise for Tiny Life</h2>
    {% for review in site.data.reviews %}
        <div class="review">
            {% capture quote %}"{{ review.description }}"{% endcapture %}
            <blockquote>{{ quote | smartify }}</blockquote>
            <span class="text-muted review-author">
                {{ review.name }}, <a href="{{ review.link }}">{{ review.website }}</a>
            </span>
        </div>
    {% endfor %}
</div>
