<div id="cookieinfo"></div>
<script>
    if (localStorage.getItem("notification") !== "true") {
        $("#cookieinfo").html( /*html*/ `
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            This site uses your browser's local storage to store information about your browsing activity.
            <br>For more information, please check out the <a href="https://ellpeck.de/privacy">privacy policy</a>.
            <button type="button" class="close" data-dismiss="alert" id="notif-close">
                <span>&times;</span>
            </button>
        </div>
    `);
        $("#notif-close").on("click", function () {
            localStorage.setItem("notification", "true");
        });
    }
</script>
