<div class="section">
    <h1 id="posts">📢 Posts</h1>
    <p>Posts are organized into categories, which you can find below. If you want to receive all these posts in your inbox or your favorite feed reader, you can subscribe to <a href="#subscribe">the mailing list</a> or <a href="/feed.xml">the Atom feed</a>.</p>

    {% include devlog_category.html
        tag="Community Showcase"
        description="We want to dedicate this section to our community and showcase some of the awesome stuff you've created. Be it in-game content, videos, or fan art, this category is dedicated to your creations." %}
    {% include devlog_category.html
        tag="Tiny Technicalities"
        description="Tiny Technicalities gives you a little look behind the scenes of Tiny Life development, including explanations about the graphics, music, AI, build mode, and more!" %}
    {% include devlog_category.html
        tag="Devlogs"
        description="Along with every major update, we publish a devlog that features additional information as well as some screenshots. You can also read <a href=\"https://docs.tinylifegame.com/Changelog\">the full changelog</a>." %}
</div>
