<div class="section">
    <h1 id="devlogs">Devlogs</h1>
    <p>Along with every major update, we publish a devlog that features additional information as well as some screenshots. You can read them on itch or on Steam. You can also read <a href="https://docs.tinylifegame.com/Changelog">the full changelog</a>.</p>

    <div class="devlogs">
        {% for item in site.data.devlogs %}
        <div class="devlog">
            <h4>{{ item.name }}</h4>
            <div class="devlog-buttons">
                <a href="{{ item.itch }}">Read on itch</a> &ndash; <a href="{{ item.steam }}">Read on Steam</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>