<div class="devlogs">
    <h2 class="devlog-category" id="{{ include.tag | slugify }}">{{ include.emoji }} {{ include.tag }}</h2>
    <p>{{ include.description }}</p>

    {%- for post in site.posts -%}
        {%- if post.tags contains include.tag -%}
            <div class="devlog">
                {%- if post.image -%}
                    {%- assign start = post.image | slice: 0, 4 -%}
                    {%- if start == "http" -%}
                        {%- assign url = post.image -%}
                    {%- else -%}
                        {%- assign url = post.url | append: post.image -%}
                    {%- endif -%}
                    <img src="{{ url }}" class="devlog-image" width="100%" height="120px" alt="Cover image for post {{ post.title }}">
                {%- endif -%}
                <h4 class="devlog-title">{{ post.title }}</h4>
                <div class="text-muted">{{ post.date | date_to_string }}</div>
                <div>
                    <a href="{{ post.url }}">Read this post</a>
                    {%- if post.itch -%}
                        &ndash; <a href="{{ post.itch }}">Read on itch</a>
                    {%- endif -%}
                    {%- if post.steam -%}
                        &ndash; <a href="{{ post.steam }}">Read on Steam</a>
                    {%- endif -%}
                </div>
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>
