<div class="devlogs">
    <h2 class="devlog-category" id="{{ include.tag | slugify }}">{{ include.tag }}</h2>
    <p>{{ include.description }}</p>

    {% for post in site.posts %}
        {% if post.tags contains include.tag %}
            <div class="devlog">
                <h4 class="devlog-title">{{ post.title }}</h4>
                <div class="devlog-date text-muted">{{ post.date | date_to_string }}</div>
                <div>
                    <a href="{{ post.url }}">Read this post</a> &ndash;
                    <a href="{{ post.itch }}">Read on itch</a> &ndash;
                    <a href="{{ post.steam }}">Read on Steam</a></div>
            </div>
        {% endif %}
    {% endfor %}
</div>
