<div class="footer bg-light">
    <script>
        if (darkTheme) {
            let footer = $(".footer");
            footer.removeClass("bg-light");
            footer.addClass("bg-dark");
        }
    </script>

    <div class="footer-content">
        <div class="footer-section">
            <a href="https://hier-spielt-vielfalt.de/en/">
                <img id="hsv-image" src="/media/hsv_light.png" alt="The #TeamDiversity logo" width="150">
            </a>
            <br>
            <a href="https://www.game.de/en/members/">
                <img src="/media/game.png" alt="The German Games Industry Association logo" width="150">
            </a>

            <script>
                if (darkTheme)
                    $("#hsv-image").attr("src", "/media/hsv_dark.png");
            </script>
        </div>
        <div class="footer-section">
            &copy; 2021-2024 <a href="https://games.ellpeck.de">Ellpeck Games</a><br>
            Published by <a href="https://tophat.studio/">Top Hat Studios</a><br>
            <a href="https://ellpeck.de/impressum">Impressum</a><br>
            <a href="https://ellpeck.de/privacy">Privacy</a><br>
            <a href="https://status.ellpeck.de">Status</a>
        </div>
        <div class="footer-section">
            <a href="./common_issues">Fixing Common Issues</a><br>
            <a href="./content_policy">Community Policy</a><br>
            <a href="./preview">About Preview Versions</a><br>
            <a href="./changelog">Changelog</a><br>
            <a href="https://docs.tinylifegame.com">Developer Docs</a><br>
            <a href="https://press.ellpeck.de/tinylife/">Press Kit</a>
        </div>
    </div>
</div>
