<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="container navbar-container">
        <a class="navbar-brand" href="#">
            <img src="/media/icon.png" width="40" height="40" alt="The Tiny Life logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-label="Navbar toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="navbar-nav mr-auto" id="nav-items">
                {% if page.nav %}
                {% include {{page.nav}} %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>