<div class="section">
    <h1 id="roadmap">🛣️ Roadmap</h1>
    <p>
        There's a lot of stuff planned for the game! Everything on this list will be part of free updates in the future, provided that you buy the game once it's purchasable. Right now, the game is still in public beta, so everything is free!<br>
        <span class="text-muted">This list is not exhaustive! There are a lot of planned and work-in-progress features that we want to keep secret, and some of our plans might change or be moved around during development.</span>
    </p>

    <div class="roadmap">
        {% assign dir = "left" %}
        {% for item in site.data.roadmap %}
        <div class="roadmap-entry roadmap-entry-{{ dir }}{% if item.important %} roadmap-entry-important{% endif %}">
            <h4><span>{{ item.name }}</span></h4>

            {% if item.important %}
            <hr>
            {% endif %}

            <p>
                {{ item.desc }}
                {% if item.stage %}
                <br><span class="text-muted">{{ item.stage }}</span>
                {% endif %}
            </p>
        </div>

        {%- if item.important != true -%}
        {%- if dir == "right" -%}
        {%- assign dir = "left" -%}
        {%- else -%}
        {%- assign dir = "right" -%}
        {%- endif -%}
        {%- endif -%}

        {% endfor %}
    </div>
</div>
