<div class="section">
    <h1 id="social">🔗 Social</h1>
    <p>
        If you want to stay up to date with Tiny Life's development, you should follow the game on Twitter. You can also join the Discord to ask questions or share your gameplay!
    </p>

    <div class="row justify-content-center">
        <div class="col-auto">
            <a class="twitter-timeline" href="https://twitter.com/TinyLifeGame" width="400" height="650"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-auto">
            <iframe id="discord-widget" title="Ellpeck Games Discord server" width="400" height="650" allowtransparency="true" frameborder="0" src="https://discordapp.com/widget?id=181435613147430913&theme=light"></iframe>
        </div>
    </div>

</div>