<div id="top" class="top d-flex justify-content-center align-items-center vh-100">
    <div class="top-content">
        <img src="media/logo.png" width="100%" height="auto" alt="Tiny Life"></image>
        <h4>A fun simulation game where you mess with people's lives</h4>

        <div class="container top-container">
            <h4>Play the demo or buy the game</h4>
            <div class="row">
                <div class="col site">
                    <a href="https://ellpeck.itch.io/tiny-life">
                        <img src="media/itch.png" alt="itch.io" width="200px" height="auto"></image>
                    </a>
                </div>
                <div class="col site">
                    <a href="https://store.steampowered.com/app/1651490/Tiny_Life/">
                        <img src="media/steam.png" alt="Steam" width="200px" height="auto"></image>
                    </a>
                </div>
            </div>
            <a class="link" href="https://twitter.com/TinyLifeGame">Follow on Twitter</a>
            <a class="link" href="https://link.tinylifegame.com/discord">Join the Discord</a>
            <a class="link" href="https://docs.tinylifegame.com">See Documentation</a>
            <a class="link" href="https://press.ellpeck.de/tinylife/">Get Press Kit</a>
        </div>
    </div>
</div>
