---
layout: default
nav: blognav.html
---

<script>
    let style = darkTheme ? "monokai" : "default";
    $("head").append($("<link/>", {
        rel: "stylesheet",
        href: `https://cdn.jsdelivr.net/gh/richleland/pygments-css@master/${style}.css`
    }));
</script>

<div class="section top-margin full-width-images less-wide">
    <h1>{{ page.title }}</h1>
    <p>📖 You can also read this post <a href="{{ page.itch }}">on itch</a> or <a href="{{ page.steam }}">on Steam</a>, or you can subscribe to <a href="../../#subscribe">the mailing list</a> or <a href="/feed.xml">the Atom feed</a>.</p>

    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
</div>
