ExpiresActive On
ExpiresDefault A31536000
ExpiresByType text/html A600
ExpiresByType text/javascript A2592000
ExpiresByType application/javascript A2592000

# legacy redirects
RewriteRule ^Changelog(.html)?$ "https://tinylifegame.com/changelog" [R=301,L]
RewriteRule ^InGameNews(.html)?$ "https://tinylifegame.com/news" [R=301,L]
