ExpiresActive On
ExpiresDefault A31536000
ExpiresByType text/html A600
ExpiresByType text/javascript A2592000
ExpiresByType application/javascript A2592000

RewriteEngine On
RewriteBase /

# legacy redirects
RewriteRule ^Changelog(.html)?$ "https://tinylifegame.com/changelog" [R=301,L]
RewriteRule ^InGameNews(.html)?$ "https://tinylifegame.com/ingamenews" [R=301,L]
RewriteRule ^articles/content_policy(.html)?$ "https://tinylifegame.com/content_policy" [R=301,L]
RewriteRule ^articles/common_issues(.html)?$ "https://tinylifegame.com/common_issues" [R=301,L]
RewriteRule ^articles/preview(.html)?$ "https://tinylifegame.com/preview" [R=301,L]
RewriteRule ^articles/community_mod_tutorials(.html)?$ "https://docs.tinylifegame.com/articles/community_tutorials.html" [R=301,L]
