on: [push]
jobs:
  game:
    runs-on: ubuntu-latest
    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
      - name: Check Docs Links
        if: always()
        uses: urlstechie/urlchecker-action@master
        with:
          subfolder: docs/articles
          file_types: .md,.yml
          verbose: true
      - name: Check Blog Links
        uses: urlstechie/urlchecker-action@master
        if: always()
        with:
          subfolder: web/_posts
          file_types: .md
          verbose: true
      - name: Check Changelog Links
        uses: urlstechie/urlchecker-action@master
        if: always()
        with:
          include_files: Changelog.md
          verbose: true
