ExpiresActive On
ExpiresDefault A31536000
ExpiresByType text/html A3600
ExpiresByType text/javascript A2592000
ExpiresByType application/javascript A2592000

Options -Indexes

RewriteEngine On
RewriteBase /

# legacy redirects
RewriteRule ^translate/?$ "https://link.tinylifegame.com/translate" [R=301,L]
RewriteRule ^raw(/.*)?$ "https://link.tinylifegame.com/raw$1" [R=301,L]

# anchor redirects
RewriteRule ^about/?$ "#about" [R=301,L,NE]
RewriteRule ^devlogs/?$ "#devlogs" [R=301,L,NE]
RewriteRule ^roadmap/?$ "#roadmap" [R=301,L,NE]
RewriteRule ^subscribe/?$ "#subscribe" [R=301,L,NE]

# permanent redirects
RewriteCond %{QUERY_STRING} "(?=.*ver=([^&]*))?(?=.*log=([^&]*))?"
RewriteRule ^feedback "https://link.tinylifegame.com/form?usp=pp_url&entry.769753510=%1&entry.1339288296=Give+feedback+(Suggestions,+complaints+etc.)&entry.476139991=%2" [NE,R=301,L]
RewriteCond %{QUERY_STRING} "(?=.*ver=([^&]*))?(?=.*log=([^&]*))?"
RewriteRule ^bugreport "https://link.tinylifegame.com/form?usp=pp_url&entry.769753510=%1&entry.1339288296=Report+a+bug+(Crash,+error+notification+in-game+etc.)&entry.476139991=%2" [NE,R=301,L]
