Options -Indexes

RewriteEngine On
RewriteBase /

RewriteRule ^translate/?$ "https://docs.tinylifegame.com/articles/localization.html" [R=301,L]
RewriteRule ^raw(/.*)?$ "https://https://raw.githubusercontent.com/Ellpeck/TinyLifeWeb/main$1" [R=301,L]

RewriteCond %{QUERY_STRING} "(?=.*ver=([^&]*))?(?=.*log=([^&]*))?"
RewriteRule ^feedback "https://docs.google.com/forms/d/e/1FAIpQLSfazQgG9tyo0pXcQemTzb3Z9qDAL7y6pIzsnvD3vEXJqwJKQA/viewform?usp=pp_url&entry.769753510=%1&entry.1339288296=Give+feedback+(Suggestions,+complaints+etc.)&entry.476139991=%2" [NE,R=301,L]

RewriteCond %{QUERY_STRING} "(?=.*ver=([^&]*))?(?=.*log=([^&]*))?"
RewriteRule ^bugreport "https://docs.google.com/forms/d/e/1FAIpQLSfazQgG9tyo0pXcQemTzb3Z9qDAL7y6pIzsnvD3vEXJqwJKQA/viewform?usp=pp_url&entry.769753510=%1&entry.1339288296=Report+a+bug+(Crash,+error+notification+in-game+etc.)&entry.476139991=%2" [NE,R=301,L]
