---
layout: default
nav: basicnav.html
title: Tiny Life Changelog
summary: The full changelog for Tiny Life
---

<div class="section isolated-site">
    <h1>Tiny Life Changelog</h1>
    <p>This is the full changelog for the game, as seen in the bottom-right corner of its main menu.</p>

    {% capture changelog %}{% include __changelog.md %}{% endcapture %}
    {% assign content = changelog | markdownify | replace: 'src="media/', 'src="../media/' %}
    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
</div>
