---
layout: default
nav: basicnav.html
title: Troubleshooting Common Issues with Tiny Life
summary: Information on commonly faced issues in and around Tiny Life, and how to fix them
---

<div class="section top-margin full-width-images less-wide">
    <h1>Troubleshooting Common Issues</h1>

    {% capture raw_content %}{% include common_issues.md %}{% endcapture %}
    {% assign content = raw_content | markdownify %}
    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
</div>
