---
layout: default
nav: communitynav.html
title: Tiny Life
summary: A fun simulation game where you mess with people's lives
---

<div class="section">
    <div class="community-top">
        <h1>💬 Community Showcase</h1>
        Tiny Life's community is awesome, blah blah blah
    </div>

    {% for section in site.data.community-sections %}
        <div class="community-section">
            <h2 id="{{ section.slug }}">{{ section.name }}</h2>
            <p>{{ section.desc }}</p>

            {% for content in site.data.community-content %}
                {% if content.section == section.slug %}
                    <div class="community-content">
                        <div class="community-content-box">
                            <div class="community-content-box-content">
                                <h4 class="community-title">{{ content.name }}</h4>
                                <div class="community-author text-muted">Created by {{ content.author }}</div>
                                <div class="community-desc">{{ content.desc }}</div>
                                <div>
                                    {% for link in content.links %}
                                        <a href="{{ link[1] }}">{{ link[0] }}</a>
                                        {% unless forloop.last %}
                                            &ndash;
                                        {% endunless %}
                                    {% endfor %}
                                </div>
                            </div>
                            <img id="{{ content.slug }}" src="/media/community/{{ content.slug }}.png" alt="An image showing off {{ content.name }}" width="100%">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
