---
layout: default
nav: communitynav.html
title: Tiny Life Community Showcase
summary: A fun simulation game where you mess with people's lives
---

<div class="section">
    <div class="community-top">
        <h1>💬 Community Showcase</h1>
        <p>Ever since Tiny Life released into Early Access, the game's community has been growing steadily, and you all have been absolutely amazing. You've released videos, livestreamed gameplay, created mods, households, lots and other custom content, and you've even drawn fan art of pre-made Tinies! We love community contributions, and so we want to dedicate this section to our community and showcase some of the awesome stuff you've created.</p>
        <p>All content on this page abides by the <a href="https://docs.tinylifegame.com/articles/content_policy.html">Tiny Life Content and Community Policy</a>, and you can consider content on this page to be officially endorsed. Nevertheless, please always take care when downloading and installing custom content and mods for Tiny Life.</p>
        <p>If you're interested in having your content added to this page, please let us know on <a href="https://link.tinylifegame.com/discordweb">the Discord server</a> or <a href="https://github.com/Ellpeck/TinyLifeWeb/blob/main/web/_data/community-content.json">submit a pull request</a>.</p>
    </div>

    {% for section in site.data.community-sections %}
        <div class="community-section">
            <h2 id="{{ section.slug }}">{{ section.name }}</h2>
            <p>{{ section.desc }}</p>

            {% assign any = false %}
            {% for content in site.data.community-content %}
                {% if content.section == section.slug %}
                    <div class="community-content-box">
                        <a id="{{ content.slug }}"></a>
                        {% if section.images %}
                            {% if content.carousel %}
                                <div id="{{ content.slug }}-carousel" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for item in content.carousel %}
                                            <li data-target="#{{ content.slug }}-carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                        {% for item in content.carousel %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                                <img class="d-block w-100" src="/media/community/{{ item }}" alt="A carousel slide showing off {{ content.name }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#{{ content.slug }}-carousel" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#{{ content.slug }}-carousel" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            {% else %}
                                <img src="/media/community/{{ content.slug }}.png" alt="An image showing off {{ content.name }}" width="100%">
                            {% endif %}
                        {% endif %}
                        {% if section.embeds %}
                            <div class="video-embed">
                                <iframe src="{{ content.embed }}" title="{{ content.name }} Embed" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        {% endif %}

                        <div class="community-content-box-content">
                            <h4 class="community-title">{{ content.name }}</h4>
                            <div class="text-muted">Created by {{ content.author }}</div>
                            {% if content.desc %}
                                <div class="community-desc">{{ content.desc }}</div>
                            {% endif %}
                            {% if content.links %}
                                <div>
                                    {% for link in content.links %}
                                        <a href="{{ link[1] }}">{{ link[0] }}</a>
                                        {% unless forloop.last %}
                                            &ndash;
                                        {% endunless %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% assign any = true %}
                {% endif %}
            {% endfor %}
            {% unless any %}
                <em>There's nothing in this section yet.</em>
            {% endunless %}
        </div>
    {% endfor %}
</div>
