---
layout: default
nav: basicnav.html
title: Tiny Life Content and Community Policy
summary: Rules for custom content and community engagement for Tiny Life
---

<div class="section top-margin full-width-images less-wide spaced-subsections">
    <h1>Tiny Life Content and Community Policy</h1>

    {% capture raw_content %}{% include content_policy.md %}{% endcapture %}
    {% assign content = raw_content | markdownify %}
    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
</div>
