---
layout: default
nav: basicnav.html
title: Tiny Life Credits
summary: Tiny Life's credits, including community contributions and special thanks
---

<div class="section top-margin less-wide credits">
    <h1>Tiny Life</h1>

    {% for section in site.data.credits %}
        {% if section[0] != "_header" %}
            <h2>{{ section[0] }}</h2>
        {% endif %}

        {% for entry in section[1] %}
            {% if section[0] != "_header" %}
                <div class="credits-entry">
                        <span class="credits-entry-left">
                            {{ entry[0] | markdownify | remove: "<p>" | remove: "</p>" }}
                        </span><span class="credits-entry-right">
                            {{ entry[1] | markdownify | remove: "<p>" | remove: "</p>" }}
                        </span>
                </div>
            {% else %}
                <div class="credits-entry">
                    {{ entry | markdownify | remove: "<p>" | remove: "</p>" }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
