---
layout: default
nav: changelognav.html
title: Frequently Asked Questions About Tiny Life
summary: Answers to various frequently asked questions about Tiny Life
---

<div class="section top-margin full-width-images less-wide spaced-subsections">
    <h1>Frequently Asked Questions</h1>

    {% capture raw_content %}{% include faq.md %}{% endcapture %}
    {% assign content = raw_content | markdownify %}
    {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
</div>
