---
layout: default
nav: basicnav.html
title: Tiny Life In-Game News
summary: Tiny Life's in-game news, but displayed on the web
---

<div class="section isolated-site">
    <h1>Tiny Life In-Game News</h1>
    <p>This is a web version of the in-game news that sometimes appear in the bottom-left corner of the main menu.</p>

    {% capture news %}{% include __news.md %}{% endcapture %}
    {% assign content = news | markdownify | replace: 'src="media/', 'src="../media/' | strip %}
    {% if content != "" %}
        {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor-heading" %}
    {% else %}
        <p>There are no in-game news at the moment.</p>
    {% endif %}

</div>
