html {
    scroll-padding-top: 70px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6, .nav-item {
    font-family: "Cadman", "Lato", sans-serif;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
}

blockquote {
    margin-left: 1em;
    margin-right: 2em;
    padding-left: 0.5em;
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}

pre.highlight {
    padding: 10px;
}

.navbar-container {
    max-width: 850px;
}

.top {
    background-image: url("/media/large_background.png");
    background-size: cover;
    color: white;
}

a:link.wide-link,
a:visited.wide-link {
    color: lightsteelblue;
}

.wide-link {
    display: inline-block;
    width: 150px;
}

.top-content {
    text-align: center;
    padding-top: 70px;
}

#cookieinfo {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
}

.section {
    width: 95%;
    max-width: 850px;
    margin: 50px auto;
}

.top-margin {
    margin-top: 70px;
}

.less-wide {
    max-width: 700px;
}

.full-width-images img {
    width: 100%;
    height: auto;
}

.site {
    padding-top: 20px;
    padding-bottom: 30px;
}

.top-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 120px;
    padding: 20px;
}

.feature {
    margin-top: 40px;
    margin-bottom: 40px;
}

.feature-banner,
.community-content-box {
    position: relative;
}

.feature ul {
    margin-top: 1rem;
}

.feature-title,
.community-content-box-content {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    width: fit-content;
    max-width: 75%;
}

.community-content-box-content {
    margin-bottom: 50px;
    top: auto;
    bottom: 0;
}

.community-content-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.community-section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.community-title {
    white-space: nowrap;
}

.community-desc {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-title h2 {
    margin-bottom: 0;
}

.footer {
    text-align: center;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.devlog {
    margin-bottom: 20px;
    min-width: 250px;
    width: 45%;
    display: inline-block;
    margin-right: 20px;
}

.devlog-date {
    margin-bottom: 10px;
}

.devlog-title,
.community-title {
    margin-bottom: 0;
}

.video-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.roadmap {
    width: 80%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.roadmap-entry {
    margin: 40px 20px;
}

.roadmap-entry-left {
    text-align: left;
}

.roadmap-entry-right {
    text-align: right;
}

.roadmap-entry-important {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mailing-list {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
}

.social-bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.twitter-timeline iframe {
    width: 350px !important;
    height: 600px !important;
}

h1 .anchor-heading, h2 .anchor-heading, h3 .anchor-heading, h4 .anchor-heading, h5 .anchor-heading, h6 .anchor-heading {
    visibility: hidden;
}

h1:hover .anchor-heading, h2:hover .anchor-heading, h3:hover .anchor-heading, h4:hover .anchor-heading, h5:hover .anchor-heading, h6:hover .anchor-heading {
    visibility: visible;
}

body.dark-mode {
    color: #d8d8d8;
    background-color: #1b1b1b;
}

body.dark-mode .text-muted {
    color: #929aa0 !important;
}

body.dark-mode hr {
    border-top: 1px solid rgba(0, 0, 0, 0.9);
}

@media (max-width: 576px) {

    .top-content {
        max-width: 90%;
    }

    .top-container img {
        max-width: 150px;
    }

    .top-container h3 {
        font-size: 1.5rem;
    }

    .top-content {
        padding-top: 40px;
    }

    .site {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .socials {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .devlog {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .feature-title,
    .community-content-box-content {
        max-width: 95%;
        margin-bottom: 20px;
    }

    .community-desc {
        display: none;
    }
}
