html {
    scroll-padding-top: 70px;
    position: relative;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .nav-item {
    font-family: "Cadman", "Lato", sans-serif;
}

code {
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
}

blockquote {
    margin-left: 1em;
    margin-right: 2em;
    padding-left: 0.5em;
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}

pre.highlight {
    padding: 10px;
}

.content {
    flex: 1;
}

.navbar-container {
    max-width: 850px;
}

.top {
    background-image: url("/media/large_background.png");
    background-size: cover;
    color: white;
}

a:link.wide-link,
a:visited.wide-link {
    color: lightsteelblue;
}

.wide-link {
    display: inline-block;
    width: 150px;
}

.top-content {
    text-align: center;
    padding-top: 70px;
}

#cookieinfo {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    z-index: 500;
}

.section {
    width: 95%;
    max-width: 850px;
    margin: 50px auto;
}

.top-margin {
    margin-top: 70px;
}

.less-wide {
    max-width: 700px;
}

.full-width-images img {
    width: 100%;
    height: auto;
}

.site {
    padding-top: 20px;
    padding-bottom: 30px;
}

.top-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 120px;
    padding: 20px;
}

.feature {
    margin-top: 40px;
    margin-bottom: 40px;
}

.feature-banner {
    position: relative;
}

.feature ul {
    margin-top: 1rem;
}

.feature-title {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    width: fit-content;
    max-width: 75%;
}

.feature-title h2 {
    margin-bottom: 0;
}

.footer {
    padding: 15px;
    width: 100%;
}

.footer-content {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.footer-section {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.devlog {
    min-width: 250px;
    width: calc(50% - 2px);
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 30px;
}

.devlog-title {
    margin-bottom: 0;
}

.devlog-category {
    margin-top: 20px;
}

.devlog-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.devlog-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.video-embed {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 40px;
}

.video-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.roadmap {
    width: 80%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.roadmap-entry {
    margin: 40px 20px;
}

.roadmap-entry-left {
    text-align: left;
}

.roadmap-entry-right {
    text-align: right;
}

.roadmap-entry-important {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.mailing-list {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
}

.social-bottom {
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.review {
    margin-top: 20px;
    margin-bottom: 20px;
}

.review blockquote {
    margin-left: 0;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1 .anchor-heading, h2 .anchor-heading, h3 .anchor-heading, h4 .anchor-heading, h5 .anchor-heading, h6 .anchor-heading {
    visibility: hidden;
}

h1:hover .anchor-heading, h2:hover .anchor-heading, h3:hover .anchor-heading, h4:hover .anchor-heading, h5:hover .anchor-heading, h6:hover .anchor-heading {
    visibility: visible;
}

body.dark-mode,
body.dark-mode .dropdown-menu {
    color: #d8d8d8;
    background-color: #1b1b1b;
}

body.dark-mode .text-muted {
    color: #929aa0 !important;
}

body.dark-mode hr {
    border-top: 1px solid rgba(0, 0, 0, 0.9);
}

@media (max-width: 576px) {

    .footer-section {
        width: 100%;
    }

    .top-content {
        max-width: 90%;
    }

    .top-container img {
        width: 150px;
    }

    .top-container h3 {
        font-size: 1.5rem;
    }

    .top-content {
        padding-top: 40px;
    }

    .site {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .socials {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .devlog {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .feature-title {
        max-width: 95%;
        margin-bottom: 20px;
    }

}
