.top {
    background-image: url("media/large_background.png");
    background-size: 400%;
    color: white;
}

.top a:link,
.top a:visited {
    color: lightsteelblue;
}

.top-content {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

.top-footer {
    position: absolute;
    bottom: 30px;
    left: auto;
    right: auto;
}

.section {
    width: 95%;
    max-width: 950px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.site {
    padding-bottom: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 150px;
    padding: 20px;
}

.link {
    display: inline-block;
    width: 150px;
}

.screenshot {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
}

.feature {
    margin: 10px;
    padding: 10px;
    max-width: 60%;
    color: white;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 8px;
    position: absolute;
    top: 0;
}

.feature p {
    margin-bottom: 0;
}

.feature-0 {
    text-align: left;
    left: 0;
}

.feature-1 {
    text-align: right;
    right: 0;
}

.footer {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.devlog {
    margin-bottom: 20px;
    min-width: 250px;
    width: 45%;
    display: inline-block;
}

.trailer {
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}